html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  float: left;
  width: 100%;
	background-color: #EDEDED;
	list-style: none;
	font: 100% Tahoma;
  position: fixed;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	padding: 2% 4%;
	float: left;
  transition: 1s;
}

#menu ul li a:hover {
	background-color: #D6D6D6;
	color: #6D6D6D;
}

#firstimg {
  width: 100%;
}

#firstimg img {
  width: 100%;
}

#nossacasa {
  width: 60%;
  right: 0;
  left: 0;
  margin: auto;
}

#nossacasa h1 {
  font-family: Tahoma;
  font-weight: bold;
  color: #a6a0a0;
}

#nossacasa p {
  font-family: Tahoma;
  font-weight: bold;
  color: #a6a0a0;
  font-size: 90%;
  text-align: left;
}

#nossacasa p:nth-of-type(1) {
  width: 100%;
  margin-right: 2%;
}

#nossacasa p:nth-of-type(2) {
  width: 100%;
  margin-right: 2%;
}

#nossacasa p:nth-of-type(3) {
  width: 100%;
}

#fachada {
  width: 55%;
  float: right;
  margin: 1%;
  right: 0;
}

#fachada img {
  width: 100%;
  max-width: 450px;
}
